# Ignore all files in the 'env' directory
env/

# Ignore all compiled Python files
*.pyc

# Ignore the Python virtual environment files
.Python

# Ignore the __pycache__ directory and its contents
__pycache__/

# Ignore the SQLite database file
db.sqlite3
.env
*.jpg

\__pycache__
*env
*.pyc
*.env
*env
*pyc
*__pycache__
.db.sqlite3
*db.sqlite3
*media